.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal; }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 24em; } }

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.2, 1.2); }
  100% {
    transform: scale(1, 1); } }

body {
  overflow-x: hidden; }

.heading-main {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  margin-left: 6rem;
  font-weight: 500;
  margin-top: 8rem; }

.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: -202px 85px;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 40px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  color: #fff;
  text-shadow: 2px 2px 2px #000000;
  font-weight: 600;
  letter-spacing: 5px; }

.heading-description {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-image: linear-gradient(to right, #3b52aa 20%, #0e7bcc 40%, #0e7bcc 60%, #3b52aa 80%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 3rem; }

.paragraph {
  text-align: justify;
  color: #4e4e4e;
  font-size: 15px;
  line-height: 26px;
  margin-left: 12rem;
  margin-right: 11rem; }

.heading-glance {
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.1;
  color: #4c4646;
  margin-left: 7rem; }

.heading-1 {
  background-color: #ec2786;
  color: #fff;
  border: 0px;
  border-bottom: 5px solid #ec2786;
  padding: 20px 0px;
  text-align: center;
  width: 260px;
  font-size: 17px;
  cursor: pointer;
  margin-left: 7rem; }

.heading-2 {
  padding: 20px 0px;
  text-align: center;
  width: 260px;
  font-size: 17px;
  transition: all 0.2s ease-in-out 0s;
  border-bottom: 5px solid #02a2f8;
  padding: 20px 0px;
  margin-left: 3rem; }
  .heading-2:hover {
    background-color: #02a2f8;
    color: #fff;
    border: 0px;
    cursor: pointer; }

.heading-3 {
  padding: 20px 0px;
  text-align: center;
  width: 260px;
  font-size: 17px;
  transition: all 0.2s ease-in-out 0s;
  border-bottom: 5px solid #4ddc74;
  padding: 20px 0px;
  margin-left: -2rem; }
  .heading-3:hover {
    background-color: #4ddc74;
    color: #fff;
    border: 0px;
    cursor: pointer; }

.heading-4 {
  padding: 20px 0px;
  text-align: center;
  width: 260px;
  font-size: 17px;
  transition: all 0.2s ease-in-out 0s;
  border-bottom: 5px solid #532d8e;
  padding: 20px 5px;
  margin-left: -8rem; }
  .heading-4:hover {
    background-color: #532d8e;
    color: #fff;
    border: 0px;
    cursor: pointer; }

.paragraph-1 {
  margin: 3rem 10rem;
  line-height: 26px;
  font-family: 'Poppins', sans-serif;
  color: #333333;
  font-size: 14px; }

.heading-service {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 3rem; }

.paragraph-service {
  text-align: justify;
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  line-height: 25px;
  margin: 0rem 7rem; }

.paragraph-project {
  text-align: justify;
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  line-height: 25px;
  margin: 0rem 5rem; }
  .paragraph-project span {
    margin-left: 30rem; }

.infocomm-india-address {
  color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  line-height: 25px; }

.infocomm-uk-address {
  color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  line-height: 25px; }

.footer {
  background-color: #1d1d29;
  width: 100%;
  height: 108%; }
  .footer_nav {
    list-style: none;
    margin-left: -2rem; }
  .footer__nav-item {
    margin-bottom: 0rem;
    list-style: none;
    color: #fff; }
  .footer-copyright {
    margin-bottom: 0rem;
    list-style: none;
    color: #fff;
    margin-left: 3rem; }
  .footer__nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 35px;
    font-family: 'Poppins', sans-serif !important;
    list-style: none; }
    .footer__nav-link:hover {
      color: #fff;
      text-decoration: none; }
  .footer_nav-heading {
    text-transform: uppercase;
    color: #fff;
    font-size: 19px;
    margin-bottom: 15px;
    margin-top: 3rem; }
    .footer_nav-heading--1 {
      text-transform: uppercase;
      color: #fff;
      font-size: 19px;
      margin-bottom: 15px;
      margin-top: 3rem;
      margin-left: 3rem; }
    .footer_nav-heading--2 {
      text-transform: uppercase;
      color: #fff;
      font-size: 19px;
      margin-bottom: 15px;
      margin-top: 3rem; }
    .footer_nav-heading--3 {
      text-transform: uppercase;
      color: #fff;
      font-size: 19px;
      margin-bottom: 15px;
      margin-top: 3rem; }
    .footer_nav-heading--4 {
      text-transform: uppercase;
      color: #fff;
      font-size: 19px;
      margin-bottom: 15px;
      margin-top: 3rem;
      margin-left: -2rem; }
  .footer_nav-infocomm {
    margin-left: -4rem; }

.indian-flag {
  margin: 0 auto;
  height: 45px;
  width: 45px;
  border: none;
  border-radius: 50%;
  margin-top: 4rem;
  margin-left: 18rem; }

.uk-flag {
  margin: 0 auto;
  height: 45px;
  width: 45px;
  border: none;
  border-radius: 50%;
  margin-top: 4rem;
  margin-left: 18rem; }

.fav-icon--1 {
  color: #fff;
  margin-right: 1rem;
  transition: all .2s; }
  .fav-icon--1:hover {
    color: #009efd;
    transform: scale(1.5); }

.fav-icon--2 {
  color: #fff;
  margin-right: 1rem;
  transition: all .2s; }
  .fav-icon--2:hover {
    color: #02a2f8;
    transform: scale(1.5); }

.fav-icon--3 {
  color: #fff;
  margin-right: 1rem;
  transition: all .2s; }
  .fav-icon--3:hover {
    color: #ec2786;
    transform: scale(1.5); }

.fav-icon--4 {
  color: #fff;
  margin-right: 1rem;
  transition: all .2s; }
  .fav-icon--4:hover {
    color: #02a2f8;
    transform: scale(1.5); }

.fav-icon--5 {
  color: #fff;
  margin-right: 1rem;
  transition: all .2s; }
  .fav-icon--5:hover {
    color: #FF0000;
    transform: scale(1.5); }

.fav-icon--6 {
  color: #fff;
  margin-right: 1rem;
  transition: all .2s; }
  .fav-icon--6:hover {
    color: #FF0000;
    transform: scale(1.5); }

.fav-icon--7 {
  color: #fff;
  margin-right: 1rem;
  transition: all .2s; }
  .fav-icon--7:hover {
    color: #ec2786;
    transform: scale(1.5); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 0rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.company_image {
  background-position: top;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  height: 500px;
  background-image: url(../img/bg.jpg); }

.bg-dark {
  color: #000000; }

.nav-link {
  color: white; }

.navbar-item {
  margin-left: 34rem; }

.navbar-expand {
  height: 85px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }

.btn {
  background-color: #02a2f8;
  border-radius: 5px;
  color: #fff;
  font-weight: 400;
  padding: 1rem 2rem; }
  .btn:hover {
    background-color: #4f6df5; }

.company_description {
  width: 100%;
  display: inline-block;
  padding: 30px 0px; }

.company_services {
  background-image: linear-gradient(to right, #2AF598, #009EFD) !important;
  width: 100%;
  height: 300px; }

.company_project {
  background-image: linear-gradient(to right, #2AF598, #009EFD) !important;
  width: 100%;
  height: 300px;
  margin-top: 5rem; }

.game_development {
  height: 60px;
  margin-left: 11rem; }
  @media only screen and (max-width: 300px) {
    .game_development {
      margin-left: 25rem; } }

.mouseonanimate:hover {
  animation: zoominoutsinglefeatured 1s; }

.col-md-3 {
  display: inline-block;
  margin-left: -4px; }

body .carousel-indicators li {
  background-color: transparent; }

body .carousel-indicators .active {
  background-color: transparent; }

body .carousel-indicators {
  bottom: 0;
  color: transparent; }

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
  background-color: transparent; }

body .no-padding {
  padding-left: 0;
  padding-right: 0; }

.carousel-image {
  height: 80px;
  width: 80px; }

.heading-technologies {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin: 17px 29px 30px;
  position: relative;
  text-align: center;
  margin-top: 3rem; }

.profile-image {
  position: relative;
  top: 50%;
  left: 44%; }

.profile-name {
  text-align: center; }

.btn-project {
  background-color: #fff;
  border-radius: 5px;
  color: #009efd;
  display: block;
  font-size: 21px;
  margin: 2rem auto;
  padding: 1.5rem;
  text-align: center;
  width: 25%;
  text-decoration: none; }
  .btn-project:hover {
    text-decoration: none;
    color: #009efd; }

.brand-logo {
  margin-left: 9rem;
  margin-right: 14rem; }
