$color-black:#000000;
$color-white:#fff;
$color-blue:#02a2f8;
$color-light-grey:#4c4646;
$color-grey:#4e4e4e;
$color-pink:#ec2786;
$color-blue-1:#1534e3;
$color-light-green:#4ddc74;
$color-voilet:#532d8e;
$color-light-black:#333333;
$color-blue-1:#009efd;
$color-black-1:#1d1d29;
$color-red:#FF0000;



$grid-width: 114rem;
$gutter-vertical: 0rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;