.footer {
    background-color: $color-black-1;
    width: 100%;
    height: 108%;

    &_nav {
     list-style: none;
     margin-left: -2rem;
    }

    &__nav-item {
       margin-bottom: 0rem;
       list-style: none;
       color: $color-white;

       
    }
    &-copyright {
        margin-bottom: 0rem;
        list-style: none;
        color: $color-white;
        margin-left: 3rem
    }


    &__nav-link {
      
        color: $color-white;
        text-decoration: none;
        font-size: 14px;
        line-height: 35px;
        font-family: 'Poppins', sans-serif !important;
        list-style: none;
        &:hover {
            color: $color-white;
            text-decoration: none;
        }
    }
    &_nav-heading {

        text-transform: uppercase;
        color: $color-white;
        font-size: 19px;
        margin-bottom: 15px;
        margin-top: 3rem;

        &--1 {
            text-transform: uppercase;
            color: $color-white;
            font-size: 19px;
            margin-bottom: 15px;
            margin-top: 3rem; 
            margin-left: 3rem;
        }

        &--2 {
        text-transform: uppercase;
        color: $color-white;
        font-size: 19px;
        margin-bottom: 15px;
        margin-top: 3rem;
        }

        &--3 {
        text-transform: uppercase;
        color: $color-white;
        font-size: 19px;
        margin-bottom: 15px;
        margin-top: 3rem;
        }

        &--4 {
        text-transform: uppercase;
        color: $color-white;
        font-size: 19px;
        margin-bottom: 15px;
        margin-top: 3rem;
        margin-left: -2rem;

        @media only screen and (max-width:900px) {
            margin-left: -4rem;
        }
        }


    }

    &_nav-infocomm {
        margin-left: -4rem;

        @media only screen and (max-width:900px){
            margin-left: -6rem;
        }
    }

    @media only screen and (max-width:1200px) {
        width: 115%;
        height: auto;
    }

    @media only screen and (max-width:900px) {
        width: 140%;
        height: auto;

    }

    @media only screen and (max-width:600px) {
        width: 193%;
        height: auto;

    }

    @media only screen and (max-width:400px) {
        width: 252%;
        height: auto;

    }

    @media only screen and (max-width:300px) {
        width: 414%;
        height: auto;

    }
}

.indian-flag {
    margin: 0 auto;
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 50%;
    margin-top: 4rem;
    margin-left: 18rem;

    @media only screen and (max-width:1200px) {
        margin-left: 13rem;
    }

    @media only screen and (max-width:900px) {
        margin-left: 13rem;
    }

    @media only screen and (max-width:600px) {
        margin-left: 11rem;
    }

    @media only screen and (max-width:300px) {
        margin-left: 16rem;    }



}

.uk-flag {
    margin: 0 auto;
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 50%;
    margin-top: 4rem;
    margin-left: 18rem;

    @media only screen and (max-width:900px) {
        margin-left: 8rem;
    }

    @media only screen and (max-width:600px) {
        margin-left: 5rem;
    }

    @media only screen and (max-width:300px) {
        margin-left: 10rem;
    }

}

.fav-icon--1 {
    color: $color-white;
    margin-right: 1rem;
    transition: all .2s;
    &:hover {
        color: $color-blue-1;
        transform: scale(1.5);
    }
}

.fav-icon--2 {
    color: $color-white;

    margin-right: 1rem;

    transition: all .2s;
    &:hover {
        color: $color-blue;
        transform: scale(1.5);
    }
}

.fav-icon--3 {
    color: $color-white;

    margin-right: 1rem;

    transition: all .2s;
    &:hover {
        color: $color-pink;
        transform: scale(1.5);
    }
}

.fav-icon--4 {
    color: $color-white;

    margin-right: 1rem;

    transition: all .2s;
    &:hover {
        color: $color-blue;
        transform: scale(1.5);
    }
}

.fav-icon--5 {
    color: $color-white;

    margin-right: 1rem;

    transition: all .2s;
    &:hover {
        color: $color-red;
        transform: scale(1.5);
    }
}

.fav-icon--6 {
    color: $color-white;

    margin-right: 1rem;

    transition: all .2s;
    &:hover {
        color: $color-red;
        transform: scale(1.5);
    }
}

.fav-icon--7 {
    color: $color-white;

    margin-right: 1rem;

    transition: all .2s;
    &:hover {
        color: $color-pink;
        transform: scale(1.5);
    }
}
