.bg-dark {
   
    color: $color-black;
    

}
  .nav-link {
      color: white;
  }
  .navbar-item {
      margin-left: 34rem;

     
  }
.navbar-expand {
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
}
.btn {
    background-color: $color-blue;
    border-radius: 5px;
    color: $color-white;
    font-weight: 400;
    padding: 1rem 2rem;
    

  

    &:hover {
        background-color: #4f6df5;
    }

  
}



.infocomm-logo {
  

  

   

}



