
.bg-custom-1 {
    background-color: #85144b;
  }
  
  .bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }

  .bg-dark2 {
      background-color: $color-black;
  }
  .navbar-item {
      margin-left: 34rem;

      @media only screen and (max-width:1200px){
        margin-left: 12rem;
        
      }

      @media only screen and (max-width:900px){
        margin-left: 2rem;
      }

      @media only screen and (max-width:600px){
        margin-left: 1rem;
      }

      @media only screen and (max-width:300px){
        margin-left: 8rem;
      }
  }
.navbar-expand {
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    @media only screen and (max-width:1200px) {
        width: 117%;
    }

    @media only screen and (max-width:900px) {
        width: 139%;
    }

    @media only screen and (max-width:600px) {
        width: 199%;
    }

    @media only screen and (max-width:400px) {
        width: 265%;
    }

    @media only screen and (max-width:300px) {
        width: 399%;
    }
}
.btn {
    background-color: $color-blue;
    border-radius: 5px;
    color: $color-white;
    font-weight: 400;
    padding: 1rem 2rem;
    

  

    &:hover {
        background-color: #4f6df5;
    }

  
}



.infocomm-logo {
  

  

    @media only screen and (max-width:600px) {
          width: 130px;
    }

}

