.bg-dark {
   
    color: $color-black;
    

}
  .nav-link {
      color: white;
  }
  .navbar-item {
      margin-left: 34rem;

     
  }
.navbar-expand {
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
}
.btn {
    background-color: $color-blue;
    border-radius: 5px;
    color: $color-white;
    font-weight: 400;
    padding: 1rem 2rem;
    

  

    &:hover {
        background-color: #4f6df5;
    }

  
}



.infocomm-logo {
  

  

   

}

.navbar-toggler1 {
    @media only screen and (max-width:900px) {
        width: 1.5em;
        height: 1.5em;
        display: inline-block;
   
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    }

    @media only screen and (max-width:600px) {
        width: 39.5em;
        height: 29.5em;
        display: inline-block;
    
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    }
}



