.brand-logo {
    margin-left: 9rem;
    margin-right: 14rem;

    @media only screen and (max-width:900px) {
        margin-left: -1rem;
        margin-right: -5rem;
    }

 

    @media only screen and (max-width:600px) {
        margin-left: 4rem;
        margin-right: -19rem;
    }

    @media only screen and (max-width:400px) {
        margin-left: 4rem;
        margin-right: -24rem;
    }
    @media only screen and (max-width:300px) {
        margin-left: 4rem;
        margin-right: -43rem;
        height: 12rem;
        width: 56rem;
    }



    
}