.brand-logo {
    margin-left: 9rem;
    margin-right: 14rem;

    @media only screen and (max-width:900px) {
        margin-left: -1rem;
        margin-right: -5rem;

        body {
            overflow-x: hidden !important;
        }
    }

 

    @media only screen and (max-width:600px) {
        margin-left: 0rem;
        margin-right: -15rem;

        body {
            overflow-x: hidden !important;
        }
    }

    @media only screen and (max-width:400px) {
        margin-left: 2rem;
        margin-right: -20rem;

        body {
            overflow-x: hidden !important;
        }
    }
    @media only screen and (max-width:300px) {
        margin-left: 4rem;
        margin-right: -43rem;
        height: 12rem;
        width: 56rem;

        body {
            overflow-x: hidden !important;
        }
    }



    
}