.brand-logo {
    margin-left: 9rem;
    margin-right: 14rem;

    @media only screen and (max-width:900px) {
        margin: 0 auto;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,0%);
    }

    


    
}
