.btn-project {
    background-color: $color-white;
    border-radius: 5px;
    color: $color-blue-1;
    display: block;
    font-size: 21px;
    margin: 2rem auto;
    padding: 1.5rem;
    text-align: center;
    width: 25%;
    text-decoration: none;


    &:hover {
        text-decoration: none;
        color: $color-blue-1;
    }

    @media only screen and (max-width:900px) {
        width: 20rem;

        body {
            overflow-x: hidden !important;
        }
    }
}