.col-md-3{
    display: inline-block;
    margin-left:-4px;
  }
 
  body .carousel-indicators li{
    background-color:transparent;
  }
  body .carousel-indicators .active  {
    background-color: transparent;
  }
  body .carousel-indicators{
    bottom: 0;
    color: transparent;
  }
  body .carousel-control-prev-icon,
  body .carousel-control-next-icon{
    background-color:transparent;
  }
  body .no-padding{
    padding-left: 0;
    padding-right: 0;
     }

     .carousel-image {
         height: 80px;
         width: 80px;
     }
   
    .heading-technologies {
    
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 17px 29px 30px;
    position: relative;
    text-align: center;
    margin-top: 3rem;

    

    }

   

    .profile-image {
      
      position: relative;
      top: 50%;
      left: 44%;

      
    }

    .profile-name {
      
      text-align: center;
    }