.heading-main {
   font-size: 22px;
   font-family: 'Poppins', sans-serif;
   color: $color-white;
   margin-left: 6rem;
   font-weight: 500;
   margin-top: 8rem;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: -202px 85px;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 40px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
    color: $color-white;  
    text-shadow: 2px 2px 2px $color-black; 
    font-weight: 600;
    letter-spacing: 5px;

    @media only screen and (max-width:900px) {
        font-size: 2rem;
    }

    @media only screen and (max-width:600px) {
        font-size: 2rem;
    }

   
}
.heading-description {

    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, #3b52aa 20%, #0e7bcc 40%, #0e7bcc 60%, #3b52aa 80%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 2s linear infinite;
    background-color: $color-white;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 3rem;

    @media only screen and (max-width:900px) {
        font-size: 4rem;
    }

    @media only screen and (max-width:600px) {
        font-size: 26rem;
    }

    
}
.paragraph {
    text-align: justify;
    color: $color-grey;
    font-size: 15px;
    line-height: 26px;
    margin-left: 12rem;
    margin-right: 11rem;

    @media only screen and (max-width:900px) {
        font-size: 15.25px;
    }

   
}
.heading-glance {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.1;
    color: $color-light-grey;
    margin-left: 7rem;

    
}
.heading-1 {
    background-color: $color-pink;
    color: #fff;
    border: 0px;
    border-bottom: 5px solid $color-pink;
    padding: 20px 0px;
    text-align: center;
    width: 260px;
    font-size: 17px;
    cursor: pointer;
    margin-left: 7rem;

    @media only screen and (max-width:900px) {
        margin: 0 auto;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    

}
.heading-2 {
    padding: 20px 0px;
    text-align: center;
    width: 260px;
    font-size: 17px;
    transition: all 0.2s ease-in-out 0s; 
    border-bottom: 5px solid $color-blue;
    padding: 20px 0px;
    margin-left: 3rem;
   
    &:hover {
     background-color: $color-blue;
    color: $color-white;
    border: 0px;
    cursor: pointer;
    }

    @media only screen and (max-width:900px) {
        margin: 0 auto;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    
}
.heading-3 {
    padding: 20px 0px;
    text-align: center;
    width: 260px;
    font-size: 17px;
    transition: all 0.2s ease-in-out 0s;
    border-bottom: 5px solid $color-light-green;
    padding: 20px 0px;
    margin-left: -2rem;

    &:hover {
     background-color: $color-light-green;
    color: $color-white;
    border: 0px;
    cursor: pointer;
    }

    @media only screen and (max-width:900px) {
        margin: 0 auto;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

}
.heading-4 {

    padding: 20px 0px;
    text-align: center;
    width: 260px;
    font-size: 17px;
    transition: all 0.2s ease-in-out 0s;
    border-bottom: 5px solid $color-voilet;
    padding: 20px 5px;
    margin-left: -8rem;

    &:hover {
    background-color: $color-voilet;
    color: $color-white;
    border: 0px;
    cursor: pointer;
    }

    @media only screen and (max-width:900px) {
        margin: 0 auto;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    
}

.paragraph-1 {
    
    margin: 3rem 10rem;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
    color: $color-light-black;
    font-size: 14px;

   
}
.heading-service {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 3rem;

}

.paragraph-service {

    text-align: justify;
    color: $color-white;
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
    margin: 0rem 7rem;

    

}

.paragraph-project {
    
    text-align: justify;
    color: $color-white;
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
    margin: 0rem 5rem;

    span {
       margin-left: 30rem;

      
    }

   
}

.infocomm-india-address {
  color: $color-white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  line-height: 25px;

 
}

.infocomm-uk-address {

    color: $color-white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;

   

}